body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    width: 15%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

div#abas.tabs {
    display: flex;
}

.tabs {
    display: flex; 
    margin-top: 20px;
    border-bottom: 2px solid #ddd;
}

.tab {
    flex: 1; /* Faz com que cada aba ocupe o mesmo espaço */
    padding: 10px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #ddd;
    border-bottom: none; /* Remove a borda inferior para parecer uma aba */
    background-color: #f9f9f9;
    transition: background-color 0.3s;
}


.tab:hover, .tab-active {
    background-color: #fff;
    font-weight: bold;
}

.tab-content {
    display: none;
    padding: 20px;
}